/*Here add all the custom fonts as follows*/
/*CustomFont*/
//   @font-face {
//     font-family: 'CustomFont-Local-Regular';
//     src: url(../resources/fonts/CustomFont/CustomFont-Regular.ttf);
//     font-style: normal;
//     font-stretch: 100%;
//   }
//   @font-face {
//     font-family: 'CustomFont-Local-Medium';
//     src: url(../resources/fonts/CustomFont/CustomFont-Light.ttf);
//     font-style: normal;
//     font-stretch: 100%;
//   }
//   @font-face {
//     font-family: 'CustomFont-Local-Bold';
//     src: url(../resources/fonts/CustomFont/CustomFont-Bold.ttf);
//     font-style: normal;
//     font-stretch: 100%;
//   }

/*THICCCBOI*/
@font-face {
  font-family: "THICCCBOI-Black";
  src: url(../resources/fonts/THICCCBOI-Black.ttf);
  font-style: normal;
  font-stretch: 100%;
}
@font-face {
  font-family: "THICCCBOI-Bold";
  src: url(../resources/fonts/THICCCBOI-Bold.ttf);
  font-style: normal;
  font-stretch: 100%;
}
@font-face {
  font-family: "THICCCBOI-ExtraBold";
  src: url(../resources/fonts/THICCCBOI-ExtraBold.ttf);
  font-style: normal;
  font-stretch: 100%;
}
@font-face {
  font-family: "THICCCBOI-Light";
  src: url(../resources/fonts/THICCCBOI-Light.ttf);
  font-style: normal;
  font-stretch: 100%;
}
@font-face {
  font-family: "THICCCBOI-Medium";
  src: url(../resources/fonts/THICCCBOI-Medium.ttf);
  font-style: normal;
  font-stretch: 100%;
}
@font-face {
  font-family: "THICCCBOI-Regular";
  src: url(../resources/fonts/THICCCBOI-Regular.ttf);
  font-style: normal;
  font-stretch: 100%;
}
@font-face {
  font-family: "THICCCBOI-Semibold";
  src: url(../resources/fonts/THICCCBOI-SemiBold.ttf);
  font-style: normal;
  font-stretch: 100%;
}
@font-face {
  font-family: "THICCCBOI-ThicccAF";
  src: url(../resources/fonts/THICCCBOI-ThicccAF.ttf);
  font-style: normal;
  font-stretch: 100%;
}
@font-face {
  font-family: "THICCCBOI-Thin";
  src: url(../resources/fonts/THICCCBOI-Thin.ttf);
  font-style: normal;
  font-stretch: 100%;
}
